@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Playfair+Display:ital@0;1&family=Poppins:wght@200;300;400;600&family=Roboto+Slab:wght@300;400&display=swap');


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
}


section-1 .img-fluid{
max-width: 100%;
}

section.section-1{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link:hover{
    text-decoration: underline;
}

#carouselExampleIndicators{
    margin: 20px;
}


.card{
    width: 18rem;
}
.main{
    width: 100%;
}

.carousel-inner{
    position: relative; 
    width:100%;
   overflow: hidden;
}
p{
    margin:40px;
text-shadow: 1px black;
font-family: 'Varela Round', sans-serif;
font-size: 18px;
font-weight: bold;
line-height: 30px;
text-align: justify;

}



#sub-heading-1{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    margin-left: 575px;
    
} 




.slideshow{
    margin: 0 auto;
    padding-top: 25px;
    height: 600px;
    box-sizing: border-box;
}
.content{
    margin: auto;
    width: 190px;
    perspective: 1000px;
    position: relative;
    padding-top: 80px;
}
.projects h2{
    margin: 50px 2px;
padding:35px;
font-family: 'Roboto', sans-serif;
font-size: 4em;
text-decoration: underline;
text-transform: uppercase;
text-align: center;
position: relative;
background-color: rgb(21 154 177);
color: white;
font-weight: bold;
}
.unsdg-heading h2{
    margin: 50px 2px;
    padding:35px;
font-family: 'Roboto', sans-serif;
font-size: 4em;
text-decoration: underline;
text-transform: uppercase;
text-align: center;
position: relative;
background-color:rgb(21 154 177);
color:white;
font-weight: bold;
}
.unsdg{
    width:100%;
    position:absolute;
    float: right;
animation: rotate 100s infinite linear;
transform-style:preserve-3d;

}
.unsdg:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.unsdg figure{
    width:150px;
    height: 150px;
    
    position: absolute;
}
.unsdg figure:nth-child(1){
    transform:rotateY(0deg) translateZ(500px);
}
.unsdg figure:nth-child(2){
    transform:rotateY(20deg) translateZ(500px);
}
.unsdg figure:nth-child(3){
    transform:rotateY(40deg) translateZ(500px);
}
.unsdg figure:nth-child(4){
    transform:rotateY(60deg) translateZ(500px);
}
.unsdg figure:nth-child(5){
    transform:rotateY(80deg) translateZ(500px);
}
.unsdg figure:nth-child(6){
    transform:rotateY(100deg) translateZ(500px);
}
.unsdg figure:nth-child(7){
    transform:rotateY(120deg) translateZ(500px);
}
.unsdg figure:nth-child(8){
    transform:rotateY(140deg) translateZ(500px);
}
.unsdg figure:nth-child(9){
    transform:rotateY(160deg) translateZ(500px);
}
.unsdg figure:nth-child(10){
    transform:rotateY(180deg) translateZ(500px);
}
.unsdg figure:nth-child(11){
    transform:rotateY(200deg) translateZ(500px);
}
.unsdg figure:nth-child(12){
    transform:rotateY(220deg) translateZ(500px);
}
.unsdg figure:nth-child(13){
    transform:rotateY(240deg) translateZ(500px);
}
.unsdg figure:nth-child(14){
    transform:rotateY(260deg) translateZ(500px);
}
.unsdg figure:nth-child(15){
    transform:rotateY(280deg) translateZ(500px);
}
.unsdg figure:nth-child(16){
    transform:rotateY(300deg) translateZ(500px);
}
.unsdg figure:nth-child(17){
    transform:rotateY(320deg) translateZ(500px);
}
.unsdg figure:nth-child(18){
    transform:rotateY(340deg) translateZ(500px);
}
.shadow{
    position: absolute;
    box-shadow: 0px 0px 20px 0x #000;
    border-radius: 2px;
}
.unsdg img{
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
}
.unsdg img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotate {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(360deg);
    }
    
}
.volunteer-section{
 
        height: 38vw;
        width: max-content;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 4vw;
        margin-left: 1vw;

}
.volunteers h2{
    margin: 50px 2px;
    padding:35px;
font-family: 'Roboto', sans-serif;
font-size: 4em;
text-decoration: underline;
text-transform: uppercase;
text-align: center;
position: relative;
background-color: rgb(21 154 177);
color: white;
font-weight: bold;
}
.volunteer-section .card1 .links i{
    height: 35px;
    width: 35px;
    font-size: 20px;
    color: black
    
   
}
.volunteer-section .card1 .links i:hover {
    
    transform: translateY(2px);
}
.card1 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    min-width: 20vw;
    height: 30vw;
    border-radius: 2vw;
    background-image: linear-gradient(white, rgb(0, 225, 255), white);
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 2vw;
}
.photo1 {
    position: relative;
    width: 12.4vw;
    height: 12.4vw;
    border-radius: 50%;
    border: 9px solid #D9D9D9;
    box-shadow: 0px 11px 19px rgb(0 0 0 / 25%);
    z-index: 1;
}
.photo1 img {
    width: 12.4vw;
    height: 12.4vw;
    border-radius: 50%;
}
.card1 h2 {
    font-size: 1.3vw;
    margin: 0;
}
.card1 p {
    margin-top: 0;
    width: 13.8vw;
    height: 4.3vw;
    font-size: 1vw;
    
}
.interns h2{
    margin: 50px 2px;
    padding:35px;
font-family: 'Roboto', sans-serif;
font-size: 4em;
text-decoration: underline;
text-transform: uppercase;
text-align: center;
position: relative;
background-color: rgb(21 154 177);
color: white;
font-weight: bold;
}

.intern-swipper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    
    
}
.swiper {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 20px;
    
  }
  .map{
width: 100%;
max-width: 1100px;
margin: 0 auto;
padding: 1em;
position: relative;

  }
  .map img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .reach h2{
    margin: 50px 2px;
    padding:35px;
    font-family: 'Roboto', sans-serif;
    font-size: 4em;
    text-decoration: underline;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    background-color: rgb(21 154 177);
color: white;
font-weight: bold;
  }
.pin{
    background: #ff0000;
    position: absolute;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
}
.pin::before{
    content: '';
    background: hwb(0 0% 0%);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: pulse 1.3s ease-in-out infinite;
}
.pin span{
    display:inline-block;
    white-space: nowrap;
    position: absolute;
    left:1.5em;
    top:50%;
    transform:translateY(-50%);
    background: #fff;
    border-radius: 3em;
    padding: 0.3em 0.6em;
    font-size: 0.9em;
}

.india{
    top: 49%;
    left:68%;
}
.australia{
    top: 75%;
    left:82%;
}
.canada{
    top: 24%;
    left:17%;
}
.america{
    top: 38%;
    left:18%;
}
.japan{
    top: 40%;
    left:84%;
}
.nepal{
    top: 42%;
    left:71%;
}
.thailand{
    top: 52%;
    left:74%;
}
.bhutan{
    top: 46%;
    left:73%;
}
.uk{
    top: 27%;
    left:46%;
}
.switzerland{
    top: 31%;
    left:50%;
}
.russia{
    top: 18%;
    left:76%;
}
/*.poland{
    top: 49%;
    left:68%;
}*/
.israel{
    top: 43%;
    left:57%;
}
.france{
    top: 35%;
    left:48%;
}
/*.germany{
    top: 49%;
    left:68%;
}*/
.newzealand{
    top: 86%;
    left:94%;
}
.singapore{
    top: 60%;
    left:74%;
}
.newyork{
    top: 34%;
    left:23%;
}
.california{
    top: 42%;
    left:17%;
}
/*.ohio{
    top: 49%;
    left:68%;
}*/
.stpetersberg{
    top: 20%;
    left:59%;
}
.malaysia{
    top: 64%;
    left:79%;
}
.sydney{
    top: 81%;
    left:87%;
}
@keyframes pulse {
    100%{
        opacity: 0;
        transform: translate(-50%, -50%)
        scale(2.5);
    }
}
.footer {
    background-color: black;
    width: 100%;
    font-size: 30px;
    padding: 20px;
    margin-top: 80px;
}
.footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}
.footer .about span {
    display: block;
    color: #ffffff;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .icons {
    margin-top: 25px;
}
.footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #000000;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  
}
.footer .footer-center {
    width: 30%;
}
.footer .footer-left {
    width: 33%;
    padding-right: 15px;
}
.footer .footer-left, .footer .footer-center, .footer .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 8px 18px;
    vertical-align: middle;
}
.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    width: 251px;
    text-align: justify;
    font-size: 1rem;
    line-height: 1.5rem;
}
.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    width: 251px;
}
.footer .footer-right {
    width: 35%;
}
.footer .footer-left, .footer .footer-center, .footer .footer-right {
    display: inline-block;
    vertical-align: top;
}
.footer img {
    border-radius: 100%;
    margin-left: 141px;
    width: 80px;
    height: 80px;
}

.footer .name {
    color: whitesmoke;
    font-size: 14px;
    font-weight: normal;
    margin-left: 37px;
    margin-top: 3rem;
}
.footerspan {
    margin-left: 65px;
    
    color: white;
    font-size: 1.2rem;
    font-family: 'Varela Round', sans-serif;
}

span {
    display: block;
}

.agenda img{
    /*width: 1345px;
    height:270px;*/
    width: 100%;
    
}
.aboutus img{
   width: 100%;
}
.vision-sub-banner img{
    width: 1535px;
    height:330px;
}

@media (max-width: 768px) {
   #projectbanner{
    width: 375px;
   } 
   #unsdgbanner{
    width: 100%;
   }
   .map{
    font-size: 13px;
   }
   .volunteer-section{
    height: 10em;
   }
   .leftside,.rightside{
    height: 50vh;
   }
   
   .footer .footer-left, .footer .footer-center, .footer .footer-right {
       display: block;
       width: 100%;
       margin-bottom: 40px;
       text-align: center;
   }
   .footer .footer-center i {
    margin-left: 0;

}
.footer img {
    border-radius: 100%;
    margin-left: 10px;
    width: 70px;
    height: 70px;

}
.footer .footerspan {
    margin-left: 1px;
}

}